In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("example.db")
connection

In [3]:
cursor = connection.cursor()

In [5]:
cursor.execute(''' 
Create Table If Not Exists employees(
               id Integer Primary key,
               name Text Not Null,
               age Integer Not Null,
               department Text Not Null
               )

''')
connection.commit()

In [6]:
cursor.execute(''' 
Insert Into employees(name,age,department)
               values('vishal',34,'ai')
''')

cursor.execute(''' 
Insert Into employees(name,age,department)
               values('jack',35,'ds')
''')

cursor.execute(''' 
Insert Into employees(name,age,department)
               values('bob',40,'cse')
''')
connection.commit()

In [7]:
cursor.execute('Select * From employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'vishal', 34, 'ai')
(2, 'jack', 35, 'ds')
(3, 'bob', 40, 'cse')

In [9]:
cursor.execute('''
Update employees
Set age = 55
where name = "jack"                              
 ''')
connection.commit()

In [10]:
cursor.execute('Select * From employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'vishal', 34, 'ai')
(2, 'jack', 55, 'ds')
(3, 'bob', 40, 'cse')

In [11]:
cursor.execute(''' 
Delete From employees
               where name ='bob'
''')
connection.commit()

In [12]:
cursor.execute('Select * From employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'vishal', 34, 'ai')
(2, 'jack', 55, 'ds')